body {
    background-color: rgb(197, 124, 35);
}
.header {
    color: blueviolet;
}
.aboutMe {
    color: yellowgreen;
}
.sectionOne {
    color: green;
}
.diry{
    color: violet;
}
.howToCreate {
    color: blue;
}
.sectionTwo {
    color: #2da8e0
}
.itseasy {
    color: darkred
}