main {
    margin: 32px auto;
    width: 100%;
    max-width: 500px;
    
}

body {
    background-color: #F6F2F0;
}
.header a{
    color: #937EB7;
}
.header {
    color: #B77EA2;
}
.aboutMe {
    color: #585969;
}
.sectionOne {
    color: #8C8EA7;
}
.diry{
    color: #BA8787;
}
.sectionTwo , .howToCreate {
    color: #8C8EA7;
}
p {
    color: #495559;
}
footer {
    color: #B77EA2;
}
