main {
    margin: 32px auto;
    width: 100%;
    max-width: 800px;
}
body {
    background-color: #F6F2F0;
}
.homepage__header a{
    color: #937EB7;
}
.homepage__header {
    color: #B77EA2;
}
.homepage__header-link{
    text-decoration: none;
}
.homepage__about {
    display: inline;
}
.homepage__about-title {
    color: #585969;
}
.homepage__diry-title {
    color: rgba(226, 198, 121, 0.89);
}
.homepage__diry {
    color: #BA8787;
}
.homepage__diry-content {
    color: #8C8EA7;
}
p {
    color: #495559;
}
.homepage__footer {
    color: #B77EA2;
}
